# folders
test
reads
results/06*
script/DBKraken2
script/Evaluation
script/__pycache__
script/nodes.dmp


# data file extension
*.fna
*.fai
*.fasta
*.zip
*.cut
*.out
*.rescd
*.truth
fasta/**/*.txt

# hidden files
.idea
.temp
.vscode

