# folders
test
results/06*
src/DBKraken2
src/Evaluation
src/__pycache__
src/nodes.dmp


# data file extension
*.fna
*.fai
*.fq
*.fasta
*.zip
*.cut
*.out
*.rescd
*.truth
*.fqt
*.fastq
fasta/**/*.txt
reads/**/*.txt
ref/ref_50/taxids
KrakenOnRef/
tools/
# images
*.jpg

# hidden files
.idea
.temp
.vscode
*.log

